
.navbar {
	display: flex;
    text-decoration-color:rgb(179, 250, 171);
	padding: 20px 20px;
    width: 100%;
    background-color: rgb(151, 245, 150);
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.1);
}
.navbar img{
  margin-right:20px;

}

.navbar .navbar-brand{
    margin-right:auto;
    color:green;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:400;
    font-size:x-large;
  }
  .navbar a{
    margin-left:20px;
    margin-right:100px;
    
  }
  .nav{
    display: flex;
    align-items:center;
  }
  .nav a{
    margin-left:20px;
    margin-right: 20px;
    text-decoration-color: green;
  }